.icons div {
  width: 30%;
  border-radius: 80%;
  height: 100%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Connections,
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Connections {
  height: 48px;
  margin: 20px 0px;
}
.icons {
  width: 184px;
  height: 100%;
  justify-content: space-between;
}
.circlediv:hover {
  background-color: rgba(0, 0, 255, 0.575);
  cursor: pointer;
}
